

body {
  height: 100%;
  width: 99%;

  background-image: url('./img/stadiumUM.jpg');
  background-size: cover;
  /*background-image: url('./img/stadiumMSU.jpg');*/
  /*background-size: 160%;*/

  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Graduate', cursive;
}

.game-header {
  margin: 0px;
  width: 560px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 15px 20px 10px 20px;
  font-family: 'Graduate', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.made-by {
  margin-bottom: 10px;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.personal-links {
  list-style: none;
  margin: 0px;
  color: 'red';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personal-item {
  color: 'white';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: white;
}

a:link {
  font-size: 10px;
  text-decoration: none;
}

.linkOption {
  padding-bottom: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  padding-top: 3px;
  color: #068653;
  font-style: none;
}

.linkOption:hover {
  background-color: #e3be6e;
  border-radius: 4px;
  padding-bottom: 3px;
}

.pl-sub {
  margin: 0px 8px 0px 8px;
  font-size: 12px;
}

.instructions-container {
  margin: 5px 0px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
}

.instructions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.specifics-container {
  padding: 5px 10px;
}

.arrows {
  padding-left: 25px;
  border-left: 1px dotted white;
}

.instructions-title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #068653;
}
.specific-instructions {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  padding: 10px;
  margin: 5px;
  background-color: #068653;
  border: 2px groove #068653;
  border-radius: 4px;
}
.spacebar {
  padding-left: 22px;
  padding-right: 22px;
}
